@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Berlin Sans FB';    
}
/* body{
    /* background-color: #eeeeee;
}*/
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.rubik-font{
    font-family: 'Rubik', sans-serif;
}
.headder{    
    width: 100%;
    background-color: rgb(42, 139, 204);
    /* display: flex;
    justify-content: center;
    align-items: center;    

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap; */
    /* z-index: 0;     */
    
}
.headder .left{
    font-size: 40px;
    color: #ffffff;    
}
.headder .right{
    font-size: 50px;
    color: #ffffff;
}
.card2{
    /* position: relative; */
    position: absolute;
    width: 500px;
    height: 200px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);    
    -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: perspective(500px);
      transform: perspective(500px);
    backdrop-filter: blur(5px);  /*Glass Effect*/

    top: 400px;
    right: 200px;
}
.left .card2{    
    top: 100px;
    left: 100px;
    padding: 30px;
    text-align: center;
}
.right .card2{
    top: 100px;
    right: 100px;
    /* background-image: url('../images/Sayan\ Dasgupta.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 50px 130px;
    background-size: cover; */
    border: 10px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.circle{
    position: absolute;
    top: 300px;
    right: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(201, 45, 45, 0.9);
}
#my-name-header{
    transition: 0.3s;
    color: rgb(213, 19, 213);
    transition: transform 0.2s;
}
#my-name-header:hover{
    transform: scale(1.3);        
}

#my-resume{
    color: #ffffff;
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 30px;
}
.heading-box{
    height: 40px;
    width: 38px;
    border-radius: 5px;
    background-color: #ff9728;
    margin-top: 17px;
    transition: transform 0.2s;
}
.heading-box:hover{
    transform: scale(1.5);
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.main{
    min-height: 1500px;
}
.top-gap{
    height: 500px;
}
.main-heading
{
    font-size: 50px;
    color: #ff9728;
}

.article-body{
    text-align: justify;
    font-size: 20px;
}
.small-top-gap{
    margin-top: 60px;
}
.image-banner{
    margin-top: 10px;
    border-radius: 30px;
}
#makaut{
    height: 350px;
    width: 350px;
    border-radius: 5px;
}
.small-line{
    width: 60px;
    height: 5px;
    background-color: #00ffa6d0;
    border-radius: 50px;
    margin-top: 10px;
    transition: transform 0.2s;
}
.small-line:hover{
    transform: scale(1.5);
    background-color: #00c07dd0;
}
.skills-icons{   
    font-size: 80px;
    /* background-color: red; Debug Code*/
    padding: 30px;    
}
.orange:hover{
    color: #ff6600;
    transition: 0.2s;
}
.blue:hover{
    color: #1a66ff;
    transition: 0.2s;
}
.yellow:hover{
    color: #d9e443;
    transition: 0.2s;
}
.green:hover{
    color: rgb(13, 146, 40);
}

/* Skills  */
.portion{   
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    background-color: #050801;
	font-family: consolas;
    box-sizing: border-box;
}
.portion a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;    
    letter-spacing: 4px;
    overflow: hidden;

    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.portion a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
.portion a span{
    position: absolute;
    display: block;    
}
.portion a span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50% ,100%{
        left: 100%;
    }
}

.portion a span:nth-child(2){
    top: -100%;
    right: 0;
    /* width: 100%;
    height: 2px; */
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50% ,100%{
        top: 100%;
    }
}

.portion a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;   
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50% ,100%{
        right: 100%;
    }
}

.portion a span:nth-child(4){
    bottom: -100%;
    left:0;
    /* width: 100%;
    height: 2px; */
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50% ,100%{
        bottom: 100%;
    }
}
/* .project-card{    
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 10px;
}
.offset-5 {
    margin-left: 31.666667%;
    margin-top: 15px;
    width: 382px;
}

.project-card img{
    height: 100px;
    width: 100px;
}
.project-card a {
    text-decoration: none;
    text-align: center;
}
.project-card .project-card-text{
    backdrop-filter: blur(5px);
    z-index: 2; 
} */

/* Projects */
.container3 {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container3 .card3 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: relative;
}
.container3 .long-card-3{
    width: 500px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: relative;
}

.container3 .card3 .imgBox3 {
    width: 100%;
    height: 100%;
}

.container3 .card3 .imgBox3 img {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    /* object-fit: cover; */
}

.container3 .card3 .content3 {
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    position: absolute;
    left: -100%;
    top: 0;
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .5s;
    background-color: rgba(0, 0, 0, 0.275);
}

.container3 .card3:hover .content3 {
    left: 0;
}

.container3 .card3 .content3 .title3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: .5px #000;
}

.container3 .card3 .content3 .description3 {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
.card4{
    /* background-color: red; */
    width: 400px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: relative;
}
.card4 .content4{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    position: absolute;    
    top: 0;
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .5s;
    
    color: #000;
}

.card5{
    /* background-color: red; */
    width: 400px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: relative;
}
.card5 .content5{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    position: absolute;    
    top: 0;
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .5s;
    
    color: #000;
}
